/*** Color /***/

$primary-color: #ff841b;
$primary-hover: #ff941b;
$secondary-color: #001a53;
$secondary-hover: #001a73;
$black-color: #000000;
$white-color: #ffffff;
$lightgray-f2: #f2f2f2;
$lightgray-f5: #f5faff;
$lightgray-fb: #fbfbfb;
$dark-gray-67: #676767;
$dark-gray-c6: #c6c6c6;
$dark-gray-9b: #9b9b9b;
$border-ea: #eaeaea;
